# phpstorm project files
.idea/
# vs code project files
.vscode

# composer vendor dir
/vendor/

# node modules for the asset build
/node_modules/

# build cache
/config/.phpcs-cache
/config/.phpunit.cache
/var/

# working notes
/.notes/

# user specific
composer.lock
phpunit.xml
