<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheResult="true"
    cacheResultFile=".build/phpunit/unit.cache"
    colors="true"
    columns="max"
    executionOrder="random"
>

    <php>
        <env name="KERNEL_CLASS" value="Protung\EasyAdminPlusBundle\Tests\Test\TestApplication\TestKernel"/>
    </php>

    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
