{% extends '@!EasyAdmin/layout.html.twig' %}

{% block wrapper %}
    {{ parent() }}
    <div id="protung-easyadmin-plus-extension-modal-action-custom-confirmation" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 id="protung-easyadmin-plus-extension-modal-action-custom-confirmation-title"></h4>
                    <p id="protung-easyadmin-plus-extension-modal-action-custom-confirmation-description"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                        <span class="btn-label">{{ 'label.false'|trans([], 'EasyAdminBundle') }}</span>
                    </button>

                    <a id="protung-easyadmin-plus-extension-modal-action-custom-confirmation-button">
                        <span class="btn-label">{{ 'label.true'|trans([], 'EasyAdminBundle') }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock wrapper %}
